[defaults]
host_key_checking = False
interpreter_python = auto_silent
collections_path = ./
stdout_callback=debug
stderr_callback=debug
display_skipped_hosts = false


[paramiko_connection]
look_for_keys = False
allow_agent = False
